<nav>
  <ul id="top_bar">
    <div id="input-search">
      <%= form_with(url: songs_path, method: :get, local: true) do |f| %>
        <%= f.button :type => "submit", title: "検索" do %>
            <i class= "fas fa-search"></i>
        <% end %>
        <%= f.search_field :search, id: "search-box", placeholder: "タイトル or アーティスト名" %>
      <% end %>
    </div>
    <div id="header-icon-block">
      <li class= "header-icon"><%= link_to log_in, user_session_path %></li>
      <li class= "header-icon"><%= link_to mypage, users_path %></li> 
    </div>
  </ul>
</nav>
