<!DOCTYPE html>
<html>
  <head>
    <title>Xc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%
=begin%>
 　　　　　　↑レスポンシブに対応させるのに必要になる 
<%
=end%>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <h1><%= link_to xc_logo, root_path %></h1>

    <% if user_signed_in? %>
      <p class="log-status">ログイン済</p>
    <% else %>
      <p class="log-status">未ログインです</p>
    <% end %>
    
    <%= yield %>
  </body>
</html>
